In [1]:
#Import dependencies
%matplotlib inline
import requests
import json
import pandas as pd
import numpy as np
from pprint import pprint
from config import api_key

In [2]:
#Save config, build query url and request dataset from Bureau of Labor Statictics API
url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"
headers = {"Content-type":"application/json"}
data = json.dumps({"seriesid":["LAUMT482642000000004"],"startyear":"2019", "endyear":"2020","registrationkey":api_key})
Houston_unempl = requests.post(url, data=data, headers=headers)

In [3]:
#Verify successful request and preview data
print(Houston_unempl)

<Response [200]>

In [4]:
# Pretty Print the output of the JSON
response = (Houston_unempl).json()
pprint(response)

{'Results': {'series': [{'data': [{'footnotes': [{'code': 'P',
                                                  'text': 'Preliminary.'}],
                                   'latest': 'true',
                                   'period': 'M07',
                                   'periodName': 'July',
                                   'value': '319349',
                                   'year': '2020'},
                                  {'footnotes': [{}],
                                   'period': 'M06',
                                   'periodName': 'June',
                                   'value': '328034',
                                   'year': '2020'},
                                  {'footnotes': [{}],
                                   'period': 'M05',
                                   'periodName': 'May',
                                   'value': '463763',
                                   'year': '2020'},
                                  {'footnotes': [{}],
                                   'period': 'M04',
                                   'periodName': 'April',
                                   'value': '454790',
                                   'year': '2020'},
                                  {'footnotes': [{}],
                                   'period': 'M03',
                                   'periodName': 'March',
                                   'value': '190369',
                                   'year': '2020'},
                                  {'footnotes': [{}],
                                   'period': 'M02',
                                   'periodName': 'February',
                                   'value': '134536',
                                   'year': '2020'},
                                  {'footnotes': [{}],
                                   'period': 'M01',
                                   'periodName': 'January',
                                   'value': '141539',
                                   'year': '2020'},
                                  {'footnotes': [{}],
                                   'period': 'M12',
                                   'periodName': 'December',
                                   'value': '126019',
                                   'year': '2019'},
                                  {'footnotes': [{}],
                                   'period': 'M11',
                                   'periodName': 'November',
                                   'value': '127368',
                                   'year': '2019'},
                                  {'footnotes': [{}],
                                   'period': 'M10',
                                   'periodName': 'October',
                                   'value': '124867',
                                   'year': '2019'},
                                  {'footnotes': [{}],
                                   'period': 'M09',
                                   'periodName': 'September',
                                   'value': '127777',
                                   'year': '2019'},
                                  {'footnotes': [{}],
                                   'period': 'M08',
                                   'periodName': 'August',
                                   'value': '138646',
                                   'year': '2019'},
                                  {'footnotes': [{}],
                                   'period': 'M07',
                                   'periodName': 'July',
                                   'value': '141120',
                                   'year': '2019'},
                                  {'footnotes': [{}],
                                   'period': 'M06',
                                   'periodName': 'June',
                                   'value': '135598',
                                   'year': '2019'},
                                  {'footnotes': [{}],
                                   'period': 'M05',
                                   'periodName': 'May',
                                   'value': '115222',
                                   'year': '2019'},
                                  {'footnotes': [{}],
                                   'period': 'M04',
                                   'periodName': 'April',
                                   'value': '110554',
                                   'year': '2019'},
                                  {'footnotes': [{}],
                                   'period': 'M03',
                                   'periodName': 'March',
                                   'value': '127436',
                                   'year': '2019'},
                                  {'footnotes': [{}],
                                   'period': 'M02',
                                   'periodName': 'February',
                                   'value': '135643',
                                   'year': '2019'},
                                  {'footnotes': [{}],
                                   'period': 'M01',
                                   'periodName': 'January',
                                   'value': '150264',
                                   'year': '2019'}],
                         'seriesID': 'LAUMT482642000000004'}]},
 'message': [],
 'responseTime': 132,
 'status': 'REQUEST_SUCCEEDED'}

In [5]:
#Drill down into data
Houston_unempl = response["Results"]["series"][0]["data"]
#type(Houston_unempl)

In [6]:
#Print data
for i in Houston_unempl:
   
    #print(i.keys())
     print(i["periodName"])
     print(i["year"])
     print(i["value"])

July
2020
319349
June
2020
328034
May
2020
463763
April
2020
454790
March
2020
190369
February
2020
134536
January
2020
141539
December
2019
126019
November
2019
127368
October
2019
124867
September
2019
127777
August
2019
138646
July
2019
141120
June
2019
135598
May
2019
115222
April
2019
110554
March
2019
127436
February
2019
135643
January
2019
150264

In [7]:
#Create lists and Houston unemployment dataframe
Month = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sept","Oct","Nov","Dec"]
Num_unempl19 = [150264,135643,127436,110554,115222,135598,141120,138646,127777,124867,127368,126019]
Num_unempl20 = [190369,454790,463763,328034,319349,"NaN","NaN","NaN","NaN","NaN","NaN","NaN"]

Houston_unemp = {"Month":Month,"Total Unemployed 2019":Num_unempl19,"2020":Num_unempl20}
Houston_unemployed = pd.DataFrame(Houston_unemp)
Houston_unemployed.set_index("Month")

       Total Unemployed 2019    2020
Month
Jan                   150264  190369
Feb                   135643  454790
Mar                   127436  463763
Apr                   110554  328034
May                   115222  319349
Jun                   135598     NaN
Jul                   141120     NaN
Aug                   138646     NaN
Sept                  127777     NaN
Oct                   124867     NaN
Nov                   127368     NaN
Dec                   126019     NaN

In [13]:
url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"
headers = {"Content-type":"application/json"}
data = json.dumps({"seriesid":["LNS14000012"],"startyear":"2019", "endyear":"2020","registrationkey":api_key})
teen_unemployrate = requests.post(url, data=data, headers=headers)

In [14]:
print(teen_unemployrate)

<Response [200]>

In [15]:
response = (teen_unemployrate).json()
pprint(response)

{'Results': {'series': [{'data': [{'footnotes': [{}],
                                   'latest': 'true',
                                   'period': 'M08',
                                   'periodName': 'August',
                                   'value': '16.1',
                                   'year': '2020'},
                                  {'footnotes': [{}],
                                   'period': 'M07',
                                   'periodName': 'July',
                                   'value': '19.3',
                                   'year': '2020'},
                                  {'footnotes': [{}],
                                   'period': 'M06',
                                   'periodName': 'June',
                                   'value': '23.2',
                                   'year': '2020'},
                                  {'footnotes': [{}],
                                   'period': 'M05',
                                   'periodName': 'May',
                                   'value': '29.9',
                                   'year': '2020'},
                                  {'footnotes': [{}],
                                   'period': 'M04',
                                   'periodName': 'April',
                                   'value': '31.9',
                                   'year': '2020'},
                                  {'footnotes': [{}],
                                   'period': 'M03',
                                   'periodName': 'March',
                                   'value': '14.3',
                                   'year': '2020'},
                                  {'footnotes': [{}],
                                   'period': 'M02',
                                   'periodName': 'February',
                                   'value': '11.0',
                                   'year': '2020'},
                                  {'footnotes': [{}],
                                   'period': 'M01',
                                   'periodName': 'January',
                                   'value': '12.2',
                                   'year': '2020'},
                                  {'footnotes': [{}],
                                   'period': 'M12',
                                   'periodName': 'December',
                                   'value': '12.6',
                                   'year': '2019'},
                                  {'footnotes': [{}],
                                   'period': 'M11',
                                   'periodName': 'November',
                                   'value': '12.0',
                                   'year': '2019'},
                                  {'footnotes': [{}],
                                   'period': 'M10',
                                   'periodName': 'October',
                                   'value': '12.3',
                                   'year': '2019'},
                                  {'footnotes': [{}],
                                   'period': 'M09',
                                   'periodName': 'September',
                                   'value': '12.5',
                                   'year': '2019'},
                                  {'footnotes': [{}],
                                   'period': 'M08',
                                   'periodName': 'August',
                                   'value': '12.5',
                                   'year': '2019'},
                                  {'footnotes': [{}],
                                   'period': 'M07',
                                   'periodName': 'July',
                                   'value': '12.7',
                                   'year': '2019'},
                                  {'footnotes': [{}],
                                   'period': 'M06',
                                   'periodName': 'June',
                                   'value': '12.7',
                                   'year': '2019'},
                                  {'footnotes': [{}],
                                   'period': 'M05',
                                   'periodName': 'May',
                                   'value': '12.6',
                                   'year': '2019'},
                                  {'footnotes': [{}],
                                   'period': 'M04',
                                   'periodName': 'April',
                                   'value': '12.9',
                                   'year': '2019'},
                                  {'footnotes': [{}],
                                   'period': 'M03',
                                   'periodName': 'March',
                                   'value': '12.7',
                                   'year': '2019'},
                                  {'footnotes': [{}],
                                   'period': 'M02',
                                   'periodName': 'February',
                                   'value': '13.3',
                                   'year': '2019'},
                                  {'footnotes': [{}],
                                   'period': 'M01',
                                   'periodName': 'January',
                                   'value': '12.9',
                                   'year': '2019'}],
                         'seriesID': 'LNS14000012'}]},
 'message': [],
 'responseTime': 112,
 'status': 'REQUEST_SUCCEEDED'}

In [16]:
#Drill down into data
#response["Results"].keys()
teen_unemployrate_data = response["Results"]["series"][0]["data"]
#type(teen_unemployrate_data)

In [17]:
#Collect data to create a dataframe from the teen_unteen_unemployrate_data
for i in teen_unemployrate_data:
    #print(i.keys())
    #print(i["year"])
    #print(i["periodName"])
    print(i["value"])

16.1
19.3
23.2
29.9
31.9
14.3
11.0
12.2
12.6
12.0
12.3
12.5
12.5
12.7
12.7
12.6
12.9
12.7
13.3
12.9

In [18]:
#Create lists for teen unemplyment dataframe
Month = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sept","Oct","Nov","Dec"]
Teen_unempl19 = [12.9,13.3,12.7,12.9,12.6,12.7,12.7,12.5,12.5,12.3,12.0,11.0]
Teen_unempl20 = [14.3,31.9,29.9,23.2,19.3,16.1,"NaN","NaN","NaN","NaN","NaN","NaN"]

Teen_unempl = {"Month":Month,"% Teens Unemployed 2019":Teen_unempl19,"2020":Teen_unempl20}
Teen_unemployed = pd.DataFrame(Teen_unempl)
Teen_unemployed.set_index("Month")

       % Teens Unemployed 2019  2020
Month
Jan                       12.9  14.3
Feb                       13.3  31.9
Mar                       12.7  29.9
Apr                       12.9  23.2
May                       12.6  19.3
Jun                       12.7  16.1
Jul                       12.7   NaN
Aug                       12.5   NaN
Sept                      12.5   NaN
Oct                       12.3   NaN
Nov                       12.0   NaN
Dec                       11.0   NaN

In [ ]:
url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"
headers = {"Content-type":"application/json"}
data = json.dumps({"seriesid":["LNS14000025"],"startyear":"2019", "endyear":"2020","registrationkey":api_key})
unempl_men = requests.post(url, data=data, headers=headers)

In [ ]:
print(unempl_men)

In [ ]:
response = (unempl_men).json()
pprint(response)

In [ ]:
response["Results"].keys()
unempl_men = response["Results"]["series"][0]["data"]

In [ ]:
type(unempl_men)

In [ ]:
for i in unempl_men:
    #print(i.keys())
    print(i["year"])
    print(i["periodName"])
    print(i["value"])

In [ ]:
#Create lists and dataframe
Month = ["March","April","May","June","July","August","Sept"]
Men_unempl = [4.0,13.0,11.6,10.2,9.4,8.0,"not listed"]

Men_unempl = {"Month":Month,"% Men Unemployed":Men_unempl}
Men_unemployed = pd.DataFrame(Men_unempl)
Men_unemployed.set_index("Month")

In [ ]:
url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"
headers = {"Content-type":"application/json"}
data = json.dumps({"seriesid":["LNS14000026"],"startyear":"2019", "endyear":"2020","registrationkey":api_key})
unempl_women = requests.post(url, data=data, headers=headers)

In [ ]:
print(unempl_women)

In [ ]:
response = (unempl_women).json()
pprint(response)

In [ ]:
response["Results"].keys()
unempl_women = response["Results"]["series"][0]["data"]

In [ ]:
unempl_women
type(unempl_women)

In [ ]:
for i in unempl_women:
    #print(i.keys())
    print(i["year"])
    print(i["periodName"])
    print(i["value"])

In [ ]:
#Create lists and dataframe
Month = ["March","April","May","June","July","August","Sept"]
Women_unempl = [4.0,15.5,13.9,11.2,10.5,8.4,"not listed"]

Women_unempl = {"Month":Month,"% Women Unemployed":Women_unempl}
Women_unemployed = pd.DataFrame(Women_unempl)
Women_unemployed.set_index("Month")

In [ ]:
UnemploymentDF1 = pd.merge(Men_unemployed,Women_unemployed, on="Month")
UnemploymentDF1

In [ ]:
UnemploymentDF2 = pd.merge(Houston_unemployed,Teen_unemployed, on="Month")
UnemploymentDF2

In [ ]:
MergedDF = pd.merge(UnemploymentDF2,UnemploymentDF1, on="Month")
MergedDF.set_index("Month")

In [ ]:
MergedDF.columns

In [ ]:
#MergedDF.loc[:,["Year","% Teens Unemployed","% Men Unemployed", "% Women Unemployed","Total Unemployed"]]
MergedDF.drop(["Year_y_x","Year_x_y","Year_y_y"])
MergedDF
#["Year","% Teens Unemployed","% Men Unemployed", "% Women Unemployed","Total Unemployed"]]