In [1]:
import requests
import json
from config import api_key
from config import g_key
from pprint import pprint
import pandas as pd
import numpy as np
from datetime import datetime

query_url="https://api.covidtracking.com/v1/states/tx/daily.csv"

In [2]:
covid_df = pd.read_csv(query_url)
covid_df

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200916,TX,674772,4624848.0,NaN,3249.0,NaN,1139.0,NaN,NaN,...,5299620,135,0,39bcdcbbba76f8495efe2744936a640bdd7b854f,0,0,0,0,0,NaN
1,20200915,TX,668746,4578796.0,NaN,3311.0,NaN,1151.0,NaN,NaN,...,5247542,132,0,d85a65d7921bdc818b5051d3785a775d6910d3ec,0,0,0,0,0,NaN
2,20200914,TX,663445,4549802.0,NaN,3391.0,NaN,1165.0,NaN,NaN,...,5213247,21,0,98edf9e5c5db37965bbfeedc526c96279b3d3d89,0,0,0,0,0,NaN
3,20200913,TX,659434,4890705.0,NaN,3319.0,NaN,1140.0,NaN,NaN,...,5550139,47,0,c99ee90e2c9eeee9d89555f71b49713f29858a7e,0,0,0,0,0,NaN
4,20200912,TX,657589,4862052.0,NaN,3371.0,NaN,1174.0,NaN,NaN,...,5519641,146,0,7c3066e19887d12de5e1a3be65872c663c25147f,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,20200308,TX,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8,0,0,f94e478683fbfcc8099c8c30041dbacebf8d9550,0,0,0,0,0,NaN
193,20200307,TX,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8,0,0,8879e97aec342418e578906886082ae70c76bed1,0,0,0,0,0,NaN
194,20200306,TX,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,0,0,2e9ea0bb353851b7cc519c04dfb73aaa9b780b2e,0,0,0,0,0,NaN
195,20200305,TX,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,0,0,b6c2d2da54bf32da455dc064c25b46362e2c5249,0,0,0,0,0,NaN
196,20200304,TX,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,0,0,ac3e4cd42d64afbbf5c925dc09ff26549fc509bc,0,0,0,0,0,NaN

In [3]:
covid_df['date'] = pd.to_datetime(covid_df['date'], format='%Y%m%d')

In [4]:
covid_df

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,2020-09-16,TX,674772,4624848.0,NaN,3249.0,NaN,1139.0,NaN,NaN,...,5299620,135,0,39bcdcbbba76f8495efe2744936a640bdd7b854f,0,0,0,0,0,NaN
1,2020-09-15,TX,668746,4578796.0,NaN,3311.0,NaN,1151.0,NaN,NaN,...,5247542,132,0,d85a65d7921bdc818b5051d3785a775d6910d3ec,0,0,0,0,0,NaN
2,2020-09-14,TX,663445,4549802.0,NaN,3391.0,NaN,1165.0,NaN,NaN,...,5213247,21,0,98edf9e5c5db37965bbfeedc526c96279b3d3d89,0,0,0,0,0,NaN
3,2020-09-13,TX,659434,4890705.0,NaN,3319.0,NaN,1140.0,NaN,NaN,...,5550139,47,0,c99ee90e2c9eeee9d89555f71b49713f29858a7e,0,0,0,0,0,NaN
4,2020-09-12,TX,657589,4862052.0,NaN,3371.0,NaN,1174.0,NaN,NaN,...,5519641,146,0,7c3066e19887d12de5e1a3be65872c663c25147f,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,2020-03-08,TX,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8,0,0,f94e478683fbfcc8099c8c30041dbacebf8d9550,0,0,0,0,0,NaN
193,2020-03-07,TX,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8,0,0,8879e97aec342418e578906886082ae70c76bed1,0,0,0,0,0,NaN
194,2020-03-06,TX,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,0,0,2e9ea0bb353851b7cc519c04dfb73aaa9b780b2e,0,0,0,0,0,NaN
195,2020-03-05,TX,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,0,0,b6c2d2da54bf32da455dc064c25b46362e2c5249,0,0,0,0,0,NaN
196,2020-03-04,TX,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,0,0,ac3e4cd42d64afbbf5c925dc09ff26549fc509bc,0,0,0,0,0,NaN

In [5]:
covid_df.set_index('date')

,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-09-16,TX,674772,4624848.0,NaN,3249.0,NaN,1139.0,NaN,NaN,NaN,...,5299620,135,0,39bcdcbbba76f8495efe2744936a640bdd7b854f,0,0,0,0,0,NaN
2020-09-15,TX,668746,4578796.0,NaN,3311.0,NaN,1151.0,NaN,NaN,NaN,...,5247542,132,0,d85a65d7921bdc818b5051d3785a775d6910d3ec,0,0,0,0,0,NaN
2020-09-14,TX,663445,4549802.0,NaN,3391.0,NaN,1165.0,NaN,NaN,NaN,...,5213247,21,0,98edf9e5c5db37965bbfeedc526c96279b3d3d89,0,0,0,0,0,NaN
2020-09-13,TX,659434,4890705.0,NaN,3319.0,NaN,1140.0,NaN,NaN,NaN,...,5550139,47,0,c99ee90e2c9eeee9d89555f71b49713f29858a7e,0,0,0,0,0,NaN
2020-09-12,TX,657589,4862052.0,NaN,3371.0,NaN,1174.0,NaN,NaN,NaN,...,5519641,146,0,7c3066e19887d12de5e1a3be65872c663c25147f,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-08,TX,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8,0,0,f94e478683fbfcc8099c8c30041dbacebf8d9550,0,0,0,0,0,NaN
2020-03-07,TX,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8,0,0,8879e97aec342418e578906886082ae70c76bed1,0,0,0,0,0,NaN
2020-03-06,TX,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,0,0,2e9ea0bb353851b7cc519c04dfb73aaa9b780b2e,0,0,0,0,0,NaN
2020-03-05,TX,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,0,0,b6c2d2da54bf32da455dc064c25b46362e2c5249,0,0,0,0,0,NaN
2020-03-04,TX,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,0,0,ac3e4cd42d64afbbf5c925dc09ff26549fc509bc,0,0,0,0,0,NaN

In [6]:
covid_df.shape

(197, 54)

In [7]:
covid_df.dtypes

date                           datetime64[ns]
state                                  object
positive                                int64
negative                              float64
pending                               float64
hospitalizedCurrently                 float64
hospitalizedCumulative                float64
inIcuCurrently                        float64
inIcuCumulative                       float64
onVentilatorCurrently                 float64
onVentilatorCumulative                float64
recovered                             float64
dataQualityGrade                       object
lastUpdateEt                           object
dateModified                           object
checkTimeEt                            object
death                                 float64
hospitalized                          float64
dateChecked                            object
totalTestsViral                       float64
positiveTestsViral                    float64
negativeTestsViral                    float64
positiveCasesViral                      int64
deathConfirmed                        float64
deathProbable                         float64
totalTestEncountersViral              float64
totalTestsPeopleViral                 float64
totalTestsAntibody                    float64
positiveTestsAntibody                 float64
negativeTestsAntibody                 float64
totalTestsPeopleAntibody              float64
positiveTestsPeopleAntibody           float64
negativeTestsPeopleAntibody           float64
totalTestsPeopleAntigen               float64
positiveTestsPeopleAntigen            float64
totalTestsAntigen                     float64
positiveTestsAntigen                  float64
fips                                    int64
positiveIncrease                        int64
negativeIncrease                        int64
total                                   int64
totalTestResultsSource                 object
totalTestResults                        int64
totalTestResultsIncrease                int64
posNeg                                  int64
deathIncrease                           int64
hospitalizedIncrease                    int64
hash                                   object
commercialScore                         int64
negativeRegularScore                    int64
negativeScore                           int64
positiveScore                           int64
score                                   int64
grade                                 float64
dtype: object